{%extends 'allinclude.html'%}
{% block title %}
Hotel & Resort
         {% endblock %}
{% block contant %}

   {% load static %}
<!--================Slider Start=================-->
  <section id="slider_booking">
        <div class="slider_book_Pic" style="background-color: rgb(0, 42, 255);">
           <div class="container">
               <div class="row justify-content-center text-center">
                  <div class="col-md-10">
                     <div class="slider_booking_text">
                          <h4>HOTEL SERVICE</h4>
                          <h5 style="color: white;">GOOGLE MAP LOCATION</h5>
                       </div>
                  </div>
               </div>
           </div>
        </div>
  </section>

   <!--==== contect content ====-->
   <div class="container">
    <div class="row text-center py-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <i class="fas fa-map-marker-alt fa-2x"></i>
                    </div>
                    <h4 class="card-title">Location</h4>
                    <p class="card-text">
                        386/89 om Sakyhi nagar,<br>
                        Tiruvannamalai,<br>
                        Tamilnadu – 606 806 INDIA
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <i class="fas fa-phone-alt fa-2x"></i>
                    </div>
                    <h4 class="card-title">Call Us</h4>
                    <p class="card-text">
                        +91 883 813 9674, +91 978 654 8025
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-icon mb-3">
                        <i class="fas fa-envelope fa-2x"></i>
                    </div>
                    <h4 class="card-title">Email Us</h4>
                    <p class="card-text">
                        kannanidea8@gmail.com
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--====== google location =========-->

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62385.75381987324!2d79.06925269999999!3d12.2408568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bacc0852cd3d6cd%3A0x74002b16e5bac856!2sTiruvannamalai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1716777923055!5m2!1sen!2sin" swidth="600" height="350" width="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}